.loader8 {
  background-color: #333;
  position: relative;
  height: 100vh;
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65px;
    height: 65px;
  }
  &__loader {
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: aqua;
      animation: loader8 1s infinite;
    }
  }
  .c2::before {
    animation-delay: 0.1s;
  }
  .c3::before {
    animation-delay: 0.2s;
  }
  .c4::before {
    animation-delay: 0.3s;
  }
  .c5::before {
    animation-delay: 0.4s;
  }
}
@keyframes loader8 {
  100% {
    width: 0;
    height: 0;
  }
}
