.switcher1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-color: grey;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
}

.switcher1 h1 {
  font-size: 3rem;
  margin-top: 3rem;
}

.switcher1 label {
  width: 10rem;
  height: 4rem;
  border-radius: 5rem;
  overflow: hidden;
  position: relative;
  background-color: #4a474c;
  cursor: pointer;
}

.switcher1 label input {
  display: none;
}

.switcher1__ball {
  height: 4rem;
  width: 4rem;
  display: inline-block;
  background-color: aqua;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.switcher1 label input:checked ~ .switcher1__ball {
  -webkit-transform: translateX(6rem);
          transform: translateX(6rem);
  background-color: yellow;
}

body.dark .switcher1 {
  background-color: #16280c;
}

body.dark .switcher1 h1 {
  color: yellow;
}

.switcher2 {
  background-color: #232424;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5rem;
}

.switcher2 h1 {
  font-size: 3rem;
  margin-top: 3rem;
  color: red;
}

.switcher2 input {
  display: none;
}

.switcher2 label {
  width: 8rem;
  height: 3rem;
  background-color: grey;
  position: relative;
  cursor: pointer;
}

.switcher2__square {
  position: absolute;
  display: inline-block;
  background-color: #4e4b50;
  width: 3rem;
  height: 3rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.switcher2__lamp {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.switcher2__lamp::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 3px);
  left: -2rem;
  width: 6px;
  height: 6px;
  background-color: red;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.switcher2__lamp::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 3px);
  right: -2rem;
  width: 6px;
  height: 6px;
  background-color: greenyellow;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.switcher2 label input:checked ~ .switcher2__square {
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
}

.switcher2 label input:checked ~ .switcher2__lamp:before {
  opacity: 0;
}

.switcher2 label input:checked ~ .switcher2__lamp:after {
  opacity: 1;
}

body.dark .switcher2 h1 {
  color: greenyellow;
}

.main-list {
  list-style: auto;
  margin: 50px;
}

.main-list .link {
  display: block;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.back {
  position: absolute;
  background-color: #fff;
  font-size: 2rem;
  padding: 10px 20px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.switcher3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #242323;
  min-height: 100vh;
  padding-top: 5rem;
}

.switcher3 label {
  width: 10rem;
  height: 4rem;
  background-color: black;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.switcher3 label input {
  display: none;
}

.switcher3 h1 {
  color: #fff;
  padding-top: 5rem;
  font-size: 3rem;
}

.switcher3__stars::before {
  content: "";
  position: absolute;
  top: calc(50% - 15px);
  left: -35px;
  background-image: url(../images/sun.svg);
  width: 35px;
  height: 30px;
  background-size: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.switcher3__stars::after {
  content: "";
  position: absolute;
  top: -7px;
  right: 3px;
  background-image: url(../images/moon.svg);
  width: 40px;
  height: 40px;
  background-size: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.switcher3__ball {
  position: absolute;
  top: calc(50% - 1.5rem);
  left: 10px;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: indigo;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.switcher3 label input:checked ~ .switcher3__ball {
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
}

.switcher3 label input:checked ~ .switcher3__stars::before {
  -webkit-transform: translateX(4rem);
          transform: translateX(4rem);
}

.switcher3 label input:checked ~ .switcher3__stars::after {
  -webkit-transform: translateX(4rem);
          transform: translateX(4rem);
}

body.dark .switcher3 {
  background-color: #4c4a4a;
}

.search_wrap {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #222020;
}

.content-s {
  width: 30rem;
}

@media (max-width: 991.98px) {
  .content-s {
    position: absolute;
    left: 15rem;
  }
}

@media (max-width: 575.98px) {
  .content-s {
    left: 12rem;
    width: 18rem;
  }
}

@media (max-width: 380px) {
  .content-s {
    display: none;
  }
}

.search {
  border: 2px solid #057581;
  background: #154c52;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100vh;
  overflow: hidden;
  font-size: 1.25em;
  position: relative;
  width: 40px;
  height: 40px;
  -webkit-transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  z-index: 1;
}

.search__input {
  border: 0;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  outline: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  opacity: 0;
  cursor: pointer;
  padding-right: 50px;
}

.search__submit {
  font-size: 1.5rem;
  margin-left: auto;
  background: 0;
  border: 0;
  cursor: pointer;
  border-radius: 100vh;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  width: 40px;
  height: 40px;
  color: #333;
}

.search__submit svg {
  width: 20px;
  height: 20px;
}

.search:focus-within {
  width: 100%;
}

.search:focus-within .search__input {
  opacity: 1;
  z-index: initial;
  cursor: initial;
  width: 100%;
  letter-spacing: 1px;
  font-family: "Poppins";
  font-size: 1rem;
}

.search:focus-within .search__submit {
  background: #dffcff;
  color: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.search:focus-within .search__submit:hover, .search:focus-within .search__submit:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

.wrapper {
  background-color: #2e2c2c;
  min-height: 100vh;
}

.loader1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loader1__col {
  width: 3px;
  height: 4rem;
  display: inline-block;
  background-color: #fff;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-animation: loader1 1.5s ease-in-out infinite;
          animation: loader1 1.5s ease-in-out infinite;
}

.loader1__col:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loader1__col:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader1__col:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader1__col:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader1__col:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loader1__col:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader1__col:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.loader1__col:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loader1__col:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.loader1__col:nth-child(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes loader1 {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    background-color: #fff;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: red;
  }
  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    background-color: transparent;
  }
}

@keyframes loader1 {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    background-color: #fff;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: red;
  }
  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    background-color: transparent;
  }
}

.loader-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #302e2e;
}

.loader2 {
  width: 200px;
  height: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #310101;
  position: relative;
  -webkit-animation: loader2 2s linear infinite;
          animation: loader2 2s linear infinite;
}

.loader2::after, .loader2::before {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: -10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.loader2::before {
  border-top: 10px solid #490101;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.loader2::after {
  border-top: 10px solid #610202;
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

.loader2 span {
  width: 200px;
  height: 200px;
  position: absolute;
  line-height: 200px;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  -webkit-animation: span 2s linear infinite;
          animation: span 2s linear infinite;
}

@-webkit-keyframes loader2 {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader2 {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes span {
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes span {
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
/*# sourceMappingURL=main.css.map */