.main-list {
  list-style: auto;
  margin: 50px;

  .link {
    display: block;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}
.back {
  position: fixed;
  background-color: #fff;
  font-size: 2rem;
  padding: 10px 20px;
  z-index: 1;
}
h2.number {
  font-size: 20px;
  color: #fff;
  border: 1px solid #ffffff91;
  background-color: transparent;
  border-radius: 0.5rem;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 12px;
}
