.main-list {
  list-style: auto;
  margin: 50px;

  .link {
    display: block;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}
.back {
  position: absolute;
  background-color: #fff;
  font-size: 2rem;
  padding: 10px 20px;
}
